@import "tailwindcss";

:root {
  --background: #103F2E;
  --foreground: #F5F5F5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* utility class for font winky */
.winky-font {
  font-family: 'Winky Sans', sans-serif;
}

/* globals.css */
.winky-sans {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Regular weight */
}

.winky-sans-thin {
  font-family: "Winky Sans", sans-serif;
  font-weight: 350; /* Thinner weight */
}

.winky-sans-bold {
  font-family: "Winky Sans", sans-serif;
  font-weight: 700; /* Bold weight */
}

/* Animations for name  */
@keyframes bounceColor {
  0%, 100% {
    color: #6B7556;
    transform: scale(1);
  }
  50% {
    color: hsl(150, 95%, 75%);
    transform: scale(1.08);
  }
}

.michelle-flare {
  animation: bounceColor 1.5s ease-in-out infinite;
  font-weight: bold;
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
